

postgres:
  image: postgres:15
  environment:
    POSTGRES_USER: ${POSTGRES_USER}
    POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    POSTGRES_DB: postgres
  healthcheck:
    test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
    interval: 10s
    timeout: 5s
    retries: 5
  ports:
    - "${POSTGERS_PORT}:5432"
  volumes:
    - pgdata:/var/lib/postgresql/data
    - ./config/postgres-init:/docker-entrypoint-initdb.d